html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.bad-match {
    transform: scale(1.1);
    background: #7410C3;
}

.deck .card.good-match {
    transform: scale(1.1);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    color: #7410C3;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timer {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    width: 7em;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal {
    background: #ffffff url('../img/geometry2.png');
    width: 60%;
    height: 20%;
    border: solid black 4px;
    border-radius: 2em;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    left: 25vw;
    top: -150vh;
    width: 50vw;
    height: 35vh;
    overflow: auto;
    -webkit-transition: top 1s cubic-bezier(0.24, 0.25, 0.63, 1.43);
    transition: top 1s cubic-bezier(0.24, 0.25, 0.63, 1.43);
}

.mod-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mod-heading {
    display: inline-block;
    margin: auto;
    font-size: 3em;
    font-weight: bold;
}
  
.modal > .score-panel {
    text-align: center;
    font-size: 2em;
    color: #AA7ECD;
}

.close-mod {
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 1em;
    font-weight: bold;
    background-color: #02CCBA;
}

.play-again {
    width: 9em;
    height: 3em;
    border-radius: 1em;
    font-weight: bold;
}

.modal-show {
    position: fixed;
    z-index: 1;
    left: 25vw;
    top: 200px;
    width: 50vw;
    height: 400px;
    overflow: auto;
}

.play-again {
    background-color: #02CCBA;
}